.notesList {
    padding-left: 0;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #e7e7e7;
}