* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  margin-left: 25%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid black;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  text-decoration: underline;
}


